<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>消息</title>
</head>
<body>

<div th:fragment="message">
    <div th:class="'ui sidebar wide inverted inline right vertical menu'">

        <div class="header item">
            <p>全部消息</p>
        </div>

        <div class="ui accordion segment inverted item" th:each="item,itemStatus:${session.messages}">
            <div class="title"><i class="dropdown icon"></i>
                <th:block th:text="${item.messageTitle}" th:if="${item.messageState==0}"></th:block>
                <th:block th:text="${item.messageTitle}+'&nbsp;&nbsp;&nbsp;已读'" th:if="${item.messageState==1}"></th:block>
            </div>
            <div class="field content ui segment tertiary ">
                <p>
                    <a style="text-decoration: none;color: inherit;" href="#">内容：<br/>
                        <th:block th:text="${item.messageContent}"></th:block>
                    </a>
                </p>
                <a href="javascript:void(0);" style="text-decoration: none;color: inherit;" data-tooltip="已读" th:if="${item.messageState==0}" th:onclick="'readedMessage(this,'+${item.id}+')'" readed="false"><i class="check circle icon large"></i></a>
                <a href="javascript:void(0);" style="text-decoration: none;" data-tooltip="已读" th:if="${item.messageState==1}"><i class="check circle icon large"></i></a>
                <a href="javascript:void(0);" style="text-decoration: none;color: inherit;" data-tooltip="删除" th:onclick="'deleteMessage(this,'+${item.id}+')'"><i class="trash alternate icon large"></i></a>
            </div>
        </div>

    </div>

</div>


</body>
</html>