<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>导航条</title>
</head>
<body>

<div th:fragment="nav" class="ui inverted menu">
    <a th:href="@{/}" class="header item">
        <!--<img class="ui" th:src="@{/img/logo_flat.png}" width="104" height="24" alt="" />-->
        <img class="ui" th:src="@{/img/logo.png}" width="156" height="32" alt=""/>
    </a>

    <a th:href="@{/contest/index}" class="item" th:if="${session.current_account!=null}">
        <i class="desktop icon"></i>在线考试
    </a>

    <a href="javascript:void(0);" class="item" th:onclick="'app.showLogin()'" th:if="${session.current_account==null}">
        <i class="desktop icon"></i>在线考试
    </a>


    <a th:href="@{/problemset/list}" class="item">
        <i class="list layout icon"></i>题库中心
    </a>
    <a th:href="@{/discuss}" class="item">
        <i class="talk icon"></i>讨论区
    </a>

    <a class="item" href="javascript:void(0);" onclick="show()" th:if="${session.current_account!=null}">
        <i class="envelope icon"></i>收件箱
    </a>

    <a class="item" href="javascript:void(0);" th:onclick="'app.showLogin()'" th:if="${session.current_account==null}">
        <i class="envelope icon"></i>收件箱
    </a>

    <a th:onclick="'app.showLogin()'" class="right item" th:if="${session.current_account == null}">
        <i class="sign in icon"></i>登录
    </a>


    <div class="ui simple dropdown right item" th:if="${session.current_account != null}">
        <img class="ui avatar image" th:src="@{'/upload/images/'+${session.current_account.avatarImgUrl}}"/>
        <span th:text="${session.current_account.name}"></span> <i class="dropdown icon"></i>

        <div class="menu">
            <a class="item" th:href="@{/account/profile}">
                <i class="user icon"></i>我的主页
            </a>
            <a class="item" id="logout">
                <i class="sign out icon"></i>退出
            </a>
        </div>
    </div>
</div>

</body>
</html>