<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>公告牌</title>
</head>
<body>

<div th:fragment="noticeBoard">
    <div class="ui segment">
        <div class="ui dividing header">
            <i class="sticky note icon"></i>公告栏
        </div>
        <div class="ui">
            <p>用户方孝勇于2018年10月20日在帖子《大学生考研究生有用吗？》有违规言论，已封禁</p>
            <p>用户方孝勇于2018年10月20日在帖子《大学生考研究生有用吗？》有违规言论，已封禁</p>
            <p>用户方孝勇于2018年10月20日在帖子《大学生考研究生有用吗？》有违规言论，已封禁</p>
            <p>用户方孝勇于2018年10月20日在帖子《大学生考研究生有用吗？》有违规言论，已封禁</p>
        </div>
        <div style="margin-top: 30px" align="right">
            <button class="ui blue basic primary button">查看更多</button>
        </div>

    </div>
</div>


</body>
</html>