<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>公告牌</title>
</head>
<body>

<div th:fragment="noticeBoard(notices)">
    <div class="ui segment">
        <div class="ui dividing header">
            <i class="sticky note icon"></i>公告栏
        </div>
        <div class="ui">

            <th:block th:each="item,itemStatus:${notices}">
                <p th:if="${item.noticeType==0}" style="color: red" th:text="${item.noticeContent}"></p>

                <p th:if="${item.noticeType!=0}" th:text="${item.noticeContent}"></p>
            </th:block>


        </div>
        <div style="margin-top: 30px" align="right">
            <button class="ui blue basic primary button">查看更多</button>
        </div>

    </div>
</div>


</body>
</html>