<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>传送门</title>
</head>
<body>

<div th:fragment="refer">
    <div class="ui segment">
        <div class="ui dividing header">
            <i class="world icon"></i>传送门
        </div>
        <div class="ui four images">
            <a data-inverted="" data-tooltip="信息门户" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://www.suse.edu.cn/}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/xinximenhu.png'}"/>
            </a>
            <a data-inverted="" data-tooltip="教务系统" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://jwgl.suse.edu.cn/xtgl/login_slogin.html/}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/kaowu.png'}"/>
            </a>
            <a data-inverted="" data-tooltip="一卡通" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://172.17.69.253/ZYTK32Portal/}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/chaxun.png'}"/>
            </a>
            <a data-inverted="" data-tooltip="图书馆系统" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://lib.suse.edu.cn/}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/tushuguan.png'}"/>
            </a>
        </div>
    </div>
</div>


</body>
</html>