<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/header::header('GDUFE在线考试系统控制台-考试管理','manage-app')"></th:block>
    <script type="text/javascript" th:src="@{/js/manage/manage-questionBoard.js}"></script>
    <span th:replace="/common/manage-password::header"></span>
</head>

<body>

<div th:replace="/common/manage-password::updatePasswordModal"></div>
<!--添加问题到考试模态框-->
<div id="addQuestionToContestModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加问题到考试</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">考试名称</label>

                        <div class="col-sm-8">
                            <select class="form-control" id="selectContest" onchange="manageQuestionBoardPage.setContestTime(this.value)">
                                <option th:text="请选择考试" th:value="-1"></option>
                                <option th:each="item,itemStats : ${data['contests']}"
                                        th:value="${item.id}" th:text="${item.title}">
                                </option>
                            </select>

                            <p hidden="hidden" th:each="item,itemStats : ${data['contests']}" th:id="'timeTemp'+${item.id}" th:title="${#dates.format(item.startTime, 'yyyy-MM-dd HH:mm:ss')}" th:value="${#dates.format(item.endTime, 'yyyy-MM-dd HH:mm:ss')}">2018-1-11 09:00:00</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">开始时间</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control form_datetime" id="startTime" data-date-format="yyyy-mm-dd hh:ii" placeholder="选择考试后显示" readonly="readonly"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">结束时间</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control form_datetime" id="endTime" data-date-format="yyyy-mm-dd hh:ii" placeholder="选择考试后显示" readonly="readonly"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" id="confirmAddQuestionToContest" class="btn btn-success radius">
                    <span><i class="icon-ok"></i></span> 确定
                </button>
                <button data-bb-handler="cancel" type="button" class="btn btn-danger radius" id="cancelAddQuestionToContest">取消</button>
            </div>
        </div>
    </div>
</div>

<!--上传文件模态框-->
<div id="uploadQuestionModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">上传文件</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">文件大小</label>

                        <div class="col-sm-8">
                            <input id="uploadFileSize" type="text" class="form-control" placeholder="选择文件后显示" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择文件</label>

                        <div class="col-sm-8">
                            <input id="uploadQuestionFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file" type="file" class="form-control" placeholder="点击选择文件"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">上传进度</label>

                        <div class="col-sm-8 ">
                            <span class="form-control" id="progress"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" id="confirmUploadQuestionBtn" class="btn btn-success radius">
                    <span><i class="icon-ok"></i></span> 确定
                </button>
                <button data-bb-handler="cancel" type="button" class="btn btn-danger radius" id="cancelUploadQuestionBtn">取消</button>
            </div>
        </div>
    </div>
</div>


<!--导航栏-->
<div th:replace="/common/manage-nav::manageNav(${current_account})"></div>


<div class="container-fluid">
    <div class="row">

        <!--菜单项-->
        <div th:replace="/common/manage-menu::manageMenu(${current_account},'question')"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">题目管理</h1>

            <div class="row" style="margin-bottom: 5px;">
                <div class="col-md-8">
                    <input type="text" class="form-control" id="content" placeholder="请输入题目内容"/>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success" id="queryQuestionBtn"><i class="glyphicon glyphicon-search"></i>查询</button>
                    <button type="button" class="btn btn-success" id="addQuestionBtn"><i class="fa fa-plus"></i>添加题目</button>
                    <button type="button" class="btn btn-success" id="uploadQuestionBtn"><i class="fa fa-plus"></i>上传题目文件</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>题目</th>
                        <th>课程</th>
                        <th>题型</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${data['questionsSize'] == 0}">
                        <td colspan="9" style="padding: 0px;">
                            <div class="alert alert-warning" role="alert">
                                <i class="fa fa-exclamation-circle"></i>当前还没有题目呢！_(:зゝ∠)_
                            </div>
                        </td>
                    </tr>
                    <tr th:each="item,itemStats : ${data['questions']}">
                        <td th:text="${itemStats.index+1}"></td>
                        <td th:text="${item.title}" width="500px"></td>
                        <td th:text="${item.subjectName}"></td>
                        <td th:if="${item.questionType == 0}">单选</td>
                        <td th:if="${item.questionType == 1}">多选</td>
                        <td th:if="${item.questionType == 2}">问答</td>
                        <td th:if="${item.questionType == 3}">编程</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" th:if="${current_account.level eq 2}" th:onclick="'manageQuestionBoardPage.updateQuestionModalAction('+${itemStats.index}+')'"><i class="fa fa-edit"></i> 编辑</button>
                            <button type="button" class="btn btn-danger btn-xs" th:if="${current_account.level eq 2}" th:onclick="'manageQuestionBoardPage.deleteQuestionAction('+${item.id}+')'"><i class="fa fa-trash"></i> 删除</button>
                            <button type="button" class="btn btn-success btn-xs" th:onclick="'manageQuestionBoardPage.openAddQuestionToContestModal('+${item.id}+')'"><i class="fa fa-plus-square"></i> 添加到考试</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-9" id="subPageHead">
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增窗口-->
<div id="addQuestionModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增题目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">题目标题</label>

                        <div class="col-sm-8">
                            <input id="questionTitle" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">题目内容</label>

                        <div class="col-sm-8">
                            <textarea id="questionContent" class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">题目类型</label>

                        <div class="col-sm-8">
                            <select class="form-control" id="questionType">
                                <option th:value="0">单选</option>
                                <option th:value="1">多选</option>
                                <option th:value="2">问答</option>
                                <option th:value="3">编程</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属课程</label>

                        <div class="col-sm-8">
                            <select class="form-control" id="subjectId">
                                <option th:each="item,itemStats : ${data['subjects']}"
                                        th:value="${item.id}" th:text="${item.name}">

                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">A选项</label>

                        <div class="col-sm-8">
                            <input id="optionA" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">B选项</label>

                        <div class="col-sm-8">
                            <input id="optionB" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">C选项</label>

                        <div class="col-sm-8">
                            <input id="optionC" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">D选项</label>

                        <div class="col-sm-8">
                            <input id="optionD" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">题目答案</label>

                        <div class="col-sm-8">
                            <textarea id="questionAnswer" class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">答案解析</label>

                        <div class="col-sm-8">
                            <textarea id="questionParse" class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" id="confirmAddQuestionBtn" class="btn btn-success radius">
                    <span><i class="icon-ok"></i></span> 确定
                </button>
                <button data-bb-handler="cancel" type="button" id="cancelAddQuestionBtn" class="btn btn-danger radius">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑窗口 -->
<div id="updateQuestionModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑题目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <input type="hidden" id="updateQuestionIndex"/>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">题目标题</label>

                        <div class="col-sm-8">
                            <input id="updateQuestionTitle" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">题目内容</label>

                        <div class="col-sm-8">
                            <textarea id="updateQuestionContent" class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">题目类型</label>

                        <div class="col-sm-8">
                            <select class="form-control" id="updateQuestionType">
                                <option th:value="0">单选</option>
                                <option th:value="1">多选</option>
                                <option th:value="2">问答</option>
                                <option th:value="3">编程</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属课程</label>

                        <div class="col-sm-8">
                            <select class="form-control" id="updateSubjectId">
                                <option th:each="item,itemStats : ${data['subjects']}"
                                        th:value="${item.id}" th:text="${item.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">A选项</label>

                        <div class="col-sm-8">
                            <input id="updateOptionA" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">B选项</label>

                        <div class="col-sm-8">
                            <input id="updateOptionB" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">C选项</label>

                        <div class="col-sm-8">
                            <input id="updateOptionC" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">D选项</label>

                        <div class="col-sm-8">
                            <input id="updateOptionD" type="text" class="form-control" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">题目答案</label>

                        <div class="col-sm-8">
                            <textarea id="updateQuestionAnswer" class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">答案解析</label>

                        <div class="col-sm-8">
                            <textarea id="updateQuestionParse" class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" id="confirmUpdateQuestionBtn" class="btn btn-success radius">
                    <span><i class="icon-ok"></i></span> 保存
                </button>
                <button data-bb-handler="cancel" type="button" id="cancelUpdateQuestionBtn" class="btn btn-danger radius">取消</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var pageNum = /*[[${data['pageNum']}]]*/;
    var pageSize = /*[[${data['pageSize']}]]*/;
    var totalPageNum = /*[[${data['totalPageNum']}]]*/;
    var totalPageSize = /*[[${data['totalPageSize']}]]*/;
    var content = /*[[${data['content']}]]*/;
    var questions = /*[[${data['questions']}]]*/;
    var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/;

    $(function () {
        app.init(contextPath);
        manageQuestionBoardPage.init(pageNum, pageSize, totalPageNum, totalPageSize, content, questions);
        managePasswordPage.init();
    });
    /*]]>*/
</script>
</body>
</html>

