<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/header::header('GDUFE在线考试系统控制台-评论管理','manage-app')"></th:block>

    <script type="text/javascript" th:src="@{/js/manage/manage-commentBoard.js}"></script>
    <span th:replace="/common/manage-password::header"></span>
</head>

<body>

<div th:replace="/common/manage-password::updatePasswordModal"></div>

<!--导航栏-->
<div th:replace="/common/manage-nav::manageNav(${current_account})"></div>

<div class="container-fluid">
    <div class="row">

        <!--菜单项-->
        <div th:replace="/common/manage-menu::manageMenu(${current_account},'comment')"></div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">评论管理</h1>

            <div class="row" style="margin-bottom: 5px;">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>内容</th>
                        <th>回帖人</th>
                        <th>回帖时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item,itemStats : ${data['discussDetailVos']}">
                        <td th:text="${item.comment.content}" width="400px"></td>
                        <td th:text="${item.user.name}"></td>
                        <td th:text="${#dates.format(item.comment.createTime, 'yyyy-MM-dd HH:mm:ss')}">2018-1-11 09:00:00</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" th:onclick="'manageCommentBoardPage.deleteCommentAction('+${item.comment.id}+')'"><i class="fa fa-trash"></i>删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-9" id="subPageHead">
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var pageNum = /*[[${data['pageNum']}]]*/;
    var pageSize = /*[[${data['pageSize']}]]*/;
    var totalPageNum = /*[[${data['totalPageNum']}]]*/;
    var totalPageSize = /*[[${data['totalPageSize']}]]*/;
    var discussDetailVos = /*[[${data['discussDetailVos']}]]*/;
    var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/;

    $(function () {
        app.init(contextPath);
        manageCommentBoardPage.init(pageNum, pageSize, totalPageNum, totalPageSize, discussDetailVos);
        managePasswordPage.init();
    });
    /*]]>*/
</script>
</body>
</html>

