<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/header::header('在线考试系统','app')"></th:block>
    <link rel="stylesheet" th:href="@{/css/user/myExam.css}"/>
    <script type="text/javascript" th:src="@{/js/user/myExam.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/message.js}"></script>
</head>
<body class="myMessage pushable attached ui ">

<!--导航条-->
<div th:replace="/common/nav::nav"></div>

    <!--消息侧边栏-->
    <th:block th:include="/common/message::message"></th:block>

    <div class="pusher">

        <div class="ui main container">
            <div class="ui grid">
                <div class="four wide column">
                    <!--用户菜单-->
                    <th:block th:include="/common/user-menu::userMenu('myExam')"></th:block>
                </div>
                <div class="twelve wide column">
                    <div class="ui segment">
                        <h4 class="ui dividing header">考试记录</h4>

                        <div class="ui three cards">
                            <div class="ui card paper" th:each="item,itemStats : ${data['examVos']}">
                                <div class="content">
                                    <div class="header paper-title" th:text="${item.contest.title}">顺丰2017校招研发工程师笔试试卷</div>
                                </div>
                                <div class="extra content paper-type" style="background-color: #9ED5C9;color: #FFFFFF;" th:text="${item.subjectName}">
                                    计算机网络
                                </div>
                                <div class="content">
                                    <div class="ui small feed">
                                        <div class="event">
                                            <div class="content">
                                                <div class="summary"><span><i class="wait icon"></i>完成时间&nbsp;:&nbsp;</span><span class="paper-finish-time" th:text="${#dates.format(item.contest.endTime, 'yyyy-MM-dd HH:mm:ss')}">2018-1-11 11:15:27</span></div>
                                            </div>
                                        </div>
                                        <div class="event">
                                            <div class="content">
                                                <div class="summary" th:if="${item.contest.state==3}"><a th:href="@{'/account/myExamDetail?contestId='+${item.contest.id}+'&amp;studentId='+${session.current_account.id}}"><i class="database icon"></i>得分&nbsp;:&nbsp;</a><span th:text="${item.grade.result}">100</span></div>
                                                <div class="summary" th:if="${item.contest.state &lt; 3}"><a href="javascript:void(0);"><i class="database icon"></i>得分&nbsp;:&nbsp;</a><span>--</span></div>
                                            </div>
                                        </div>
                                        <div class="event">
                                            <div class="content">
                                                <div class="summary" th:if="${item.contest.state==3}"><a th:href="@{'/contest/'+${item.contest.id}+'/rank'}"><i class="trophy icon"></i>排名&nbsp;:&nbsp;</a><span th:text="${item.rank}">--</span></div>
                                                <div class="summary" th:if="${item.contest.state &lt; 3}"><a href="javascript:void(0);"><i class="trophy icon"></i>排名&nbsp;:&nbsp;</a><span>--</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 分页 -->
                        <div class="ui container">
                            <div class="ui pagination menu" id="subPageMenu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--页脚-->
        <th:block th:include="/common/footer::footer"></th:block>
    </div>


<script th:inline="javascript">
    /*<![CDATA[*/
    var pageNum = /*[[${data['pageNum']}]]*/;
    var pageSize = /*[[${data['pageSize']}]]*/;
    var totalPageNum = /*[[${data['totalPageNum']}]]*/;
    var totalPageSize = /*[[${data['totalPageSize']}]]*/;
    var examVos = /*[[${data['examVos']}]]*/;
    var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/;

    $(function () {
        app.init(contextPath);
        myExamPage.init(pageNum, pageSize, totalPageNum, totalPageSize, examVos);
    });
    /*]]>*/
</script>
</body>
</html>