<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/header::header('在线考试系统','app')"></th:block>
    <link rel="stylesheet" th:href="@{/css/user/password.css}"/>
    <script type="text/javascript" th:src="@{/js/user/password.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/message.js}"></script>
</head>
<body class="myMessage pushable attached ui ">

<!--导航条-->
<div th:replace="/common/nav::nav"></div>

<!--消息侧边栏-->
<th:block th:include="/common/message::message"></th:block>

<div class="pusher">

    <div class="ui main container">
        <div class="ui grid">
            <div class="four wide column">
                <!--用户菜单-->
                <th:block th:include="/common/user-menu::userMenu('password')"></th:block>
            </div>
            <div class="twelve wide column">
                <div class="ui segment">
                    <h4 class="ui dividing header">更改密码</h4>

                    <form class="ui form attached fluid segment">
                        <div class="ui hidden negative message" id="updatePasswordErrorMessage">
                        </div>
                        <div class="field">
                            <label>旧密码</label>
                            <input id="oldPassword" name="oldPassword" placeholder="请输入旧密码" type="password"/>
                        </div>
                        <div class="field">
                            <label>新密码</label>
                            <input id="newPassword" name="newPassword" placeholder="请输入新密码" type="password"/>
                        </div>
                        <div class="field">
                            <label>确认密码</label>
                            <input id="confirmNewPassword" name="confirmNewPassword" placeholder="请再次输入新密码" type="password"/>
                        </div>
                        <div class="positive ui button" id="updatePasswordButton">提交</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--页脚-->
    <th:block th:include="/common/footer::footer"></th:block>

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/;

    $(function () {
        app.init(contextPath);
        passwordPage.init();
    });
    /*]]>*/
</script>
</body>
</html>