<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/header::header('在线考试系统','app')"></th:block>
    <link rel="stylesheet" th:href="@{/css/discuss/discuss.css}"/>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/discuss/discuss.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/message.js}"></script>
</head>
<body class="myMessage pushable attached ui ">

<!--导航条-->
<div th:replace="/common/nav::nav"></div>

<!--消息侧边栏-->
<th:block th:include="/common/message::message"></th:block>

<div class="pusher">

    <div class="ui header container">
        <div class="ui large breadcrumb">
            <a class="section" th:href="@{/}"><i class="home icon"></i>首页</a>
            <i class="right chevron icon divider"></i>

            <div class="active section">讨论区</div>
        </div>
    </div>

    <div class="ui discussList container">
        <div class="ui grid">
            <div class="eleven wide column">
                <div class="ui green secondary menu type">
                    <a class="item active" type="-1" href="javascript:void(0);" onclick="discussPage.getDiscussByType(this)">全部</a>
                    <a class="item " type="0" href="javascript:void(0);" onclick="discussPage.getDiscussByType(this)">笔经面经</a>
                    <a class="item " type="1" href="javascript:void(0);" onclick="discussPage.getDiscussByType(this)">我要提问</a>
                    <a class="item " type="2" href="javascript:void(0);" onclick="discussPage.getDiscussByType(this)">技术交流</a>
                    <a class="item " type="3" href="javascript:void(0);" onclick="discussPage.getDiscussByType(this)">产品运营</a>
                    <a class="item " type="4" href="javascript:void(0);" onclick="discussPage.getDiscussByType(this)">留学生</a>
                    <a class="item " type="5" href="javascript:void(0);" onclick="discussPage.getDiscussByType(this)">职业发展</a>
                </div>
                <div class="ui green secondary menu type">
                    <a class="item " type="6" href="javascript:void(0);" onclick="discussPage.getDiscussByType(this)">招聘信息</a>
                    <a class="item " type="7" href="javascript:void(0);" onclick="discussPage.getDiscussByType(this)">资源分享</a>
                    <a class="item " type="8" href="javascript:void(0);" onclick="discussPage.getDiscussByType(this)">猿生活</a>
                </div>

                <!--操作菜单-->
                <div class="ui green secondary pointing menu" style="margin-top: 1em;">

                    <a class="active item" level="0" th:onclick="${'discussPage.getDiscussByLevel(this,0)'}">最新回复</a>
                    <a class="item" level="1" th:onclick="${'discussPage.getDiscussByLevel(this,1)'}">最新发表</a>
                    <a class="item" level="2" th:onclick="${'discussPage.getDiscussByLevel(this,2)'}">最热</a>

                    <div class="right item">
                        <a th:if="${session.current_account != null}" th:href="@{/discuss/post}" class="positive ui button"><i class="write icon"></i>我要发布</a>
                        <a th:if="${session.current_account == null}" th:onclick="'app.showLogin()'" class="positive ui button"><i class="write icon"></i>我要发布</a>
                    </div>
                </div>

                <div class="ui divided items">
                    <div class="item" th:each="item,itemStats : ${data['discussVos']}">
                        <div class="ui avatar image mini">
                            <img th:src="@{'/upload/images/'+${item.author.avatarImgUrl}}"/>
                        </div>
                        <div class="content">
                            <a th:href="@{'/discuss/'+${item.post.id}}" class="header" style="font-size: 15px;">
                                <p th:text="${item.post.title}">校招结束回顾：第一份工作的选择有多重要？应该考虑清楚些什么？</p>
                            </a>

                            <div class="extra" style="font-size: 13px;">
                            <span class="right floated">
                                <i class="talk outline icon"></i>
                                <span th:text="${item.post.replyNum}">23</span>
                                |
                                <i class="thumbs outline up icon"></i>
                                <span>17</span>
                                |
                                <i class="unhide icon"></i>
                                <span>400</span>
                            </span>
                                <span th:text="${item.author.name}">曾庆熙</span>
                                <th:block th:switch="${item.post.type}">
                                    <span th:case="0" th:text="${#dates.format(item.post.createTime, 'yyyy-MM-dd HH:mm:ss')} + '发表在 [笔试面经]'"></span>
                                    <span th:case="1" th:text="${#dates.format(item.post.createTime, 'yyyy-MM-dd HH:mm:ss')} + '发表在 [我要提问]'"></span>
                                    <span th:case="2" th:text="${#dates.format(item.post.createTime, 'yyyy-MM-dd HH:mm:ss')} + '发表在 [技术交流]'"></span>
                                    <span th:case="3" th:text="${#dates.format(item.post.createTime, 'yyyy-MM-dd HH:mm:ss')} + '发表在 [产品运营]'"></span>
                                    <span th:case="4" th:text="${#dates.format(item.post.createTime, 'yyyy-MM-dd HH:mm:ss')} + '发表在 [留学生]'"></span>
                                    <span th:case="5" th:text="${#dates.format(item.post.createTime, 'yyyy-MM-dd HH:mm:ss')} + '发表在 [职业发展]'"></span>
                                    <span th:case="6" th:text="${#dates.format(item.post.createTime, 'yyyy-MM-dd HH:mm:ss')} + '发表在 [招聘信息]'"></span>
                                    <span th:case="7" th:text="${#dates.format(item.post.createTime, 'yyyy-MM-dd HH:mm:ss')} + '发表在 [资源分享]'"></span>
                                    <span th:case="8" th:text="${#dates.format(item.post.createTime, 'yyyy-MM-dd HH:mm:ss')} + '发表在 [猿生活]'"></span>
                                </th:block>
                                <span th:if="${item.post.lastReplyTime != null}" th:text="'最后回复： '+${#dates.format(item.post.lastReplyTime, 'yyyy-MM-dd HH:mm:ss')}">最后回复:2018-01-13 11:33:52</span>
                                <span th:if="${item.post.lastReplyTime == null}">最后回复:--</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 分页 -->
                <div class="ui subPage container">
                    <div class="ui pagination menu" id="subPageMenu">
                    </div>
                </div>
            </div>


            <div class="five wide column">
                <!--公告栏-->
                <th:block th:include="/common/notice-board::noticeBoard(${data['notices']})"></th:block>
                <!--传送门-->
                <th:block th:include="/common/refer::refer"></th:block>
            </div>

        </div>
    </div>

    <!--页脚-->
    <th:block th:include="/common/footer::footer"></th:block>
</div>

<!-- 登录模态框 -->
<div th:replace="/common/login::login"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var pageNum = /*[[${data['pageNum']}]]*/;
    var pageSize = /*[[${data['pageSize']}]]*/;
    var totalPageNum = /*[[${data['totalPageNum']}]]*/;
    var totalPageSize = /*[[${data['totalPageSize']}]]*/;
    var discussVos = /*[[${data['discussVos']}]]*/;
    var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/;

    $(function () {
        app.init(contextPath);
        discussPage.init(pageNum, pageSize, totalPageNum, totalPageSize, discussVos);
    });
    /*]]>*/
</script>
</body>
</html>