<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/header::header('GDUFE在线考试系统','app')"></th:block>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/message.js}"></script>
</head>
<body>

<!--导航条-->
<div th:replace="/common/nav::nav(${current_account})"></div>

<div class="pg_page_container pushable attached ui myMessage ">
    <!--消息侧边栏-->
    <th:block th:include="/common/message::message('push')"></th:block>
    <div class="pusher" id="main_background" th:style="'background-image: url('+${#httpServletRequest.getContextPath()}+'/img/bg.jpg);'">
        <div class="logo_panel">
            <br/><br/><br/><br/><br/><br/>
            <span style="font-size: 1.8em; font-weight: 500; letter-spacing: 0.5em; line-height: 3.2em; color: #fff;">广东财经大学在线考试教学辅助系统1.0</span>
            <br/>
        </div>
    </div>
</div>
<div class="ui container">
    <div align="center" style="margin-bottom: 5rem;">
        <h1>功能特性</h1>
    </div>
    <div class="ui four columns stackable grid">
        <div class="column" align="center">
            <i class="list layout huge icon"></i><h4>题库</h4>
            <h5>适合教学使用的题目，合理的题目分类</h5>
        </div>
        <div class="column" align="center">
            <i class="desktop huge icon"></i><h4>考试</h4>
            <h5>即使是正规的教学考试，也能轻松应对，准确评判</h5>
        </div>
        <div class="column" align="center">
            <i class="users huge icon"></i><h4>社区</h4>
            <h5>在这里同学可以分享自己的学习体验，解答疑惑</h5>
        </div>
        <div class="column" align="center">
            <i class="github square huge icon"></i>
            <h4>技术</h4>
            <h5>多样化判题技术，灵活选择判题模式，准确的同时也能近人情</h5>
        </div>
    </div>
    <br/><br/>
</div>

<!--页脚-->
<th:block th:include="/common/footer::footer"></th:block>

<!-- 登录模态框 -->
<div th:replace="/common/login::login"></div>


<script th:inline="javascript">
    /*<![CDATA[*/
    var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/;

    $(function () {
        app.init(contextPath);
        home.init();
    });
    /*]]>*/
</script>
</body>
</html>