<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qexz.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.qexz.model.Comment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="post_id" property="postId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,post_id,content,create_time
    </sql>

    <insert id="insertComment" parameterType="com.qexz.model.Comment">
        insert into t_penguin_comment
        (user_id, post_id, content)
        values (#{comment.userId}, #{comment.postId}, #{comment.content})
    </insert>

    <select id="getCommentsByPostId" resultMap="BaseResultMap">
        SELECT
        *
        FROM t_penguin_comment
        WHERE post_id = #{postId} AND deleted=0
        ORDER BY create_time ASC
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(1) FROM t_penguin_comment
        WHERE deleted=0
    </select>

    <select id="getComments" resultMap="BaseResultMap">
        SELECT * FROM t_penguin_comment
        WHERE deleted=0
        ORDER BY create_time ASC
    </select>

    <update id="deleteCommentById" parameterType="int">
        UPDATE t_penguin_comment
        SET deleted=1
        WHERE id=#{id}
    </update>

    <update id="deleteCommentsByPostId" parameterType="int">
        UPDATE t_penguin_comment
        SET deleted=1
        WHERE post_id=#{postId}
    </update>

    <select id="getCommentsByIds" resultMap="BaseResultMap">
        SELECT * FROM t_penguin_comment
        WHERE 1=1
        <if test="ids != null and ids.size > 0">
            AND id IN
            <foreach collection="ids" item="id1" open="(" separator="," close=")">
                #{id1}
            </foreach>
        </if>
    </select>

    <select id="getCommentById" resultMap="BaseResultMap">
        SELECT
        *
        FROM t_penguin_comment
        WHERE id=#{id}
    </select>

</mapper>