<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qexz.dao.NoticeMapper">
    <resultMap id="BaseResultMap" type="com.qexz.model.Notice">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="notice_type" property="noticeType" jdbcType="INTEGER"/>
        <result column="notice_content" property="noticeContent" jdbcType="VARCHAR"/>
        <result column="notice_url" property="noticeUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        notice_type,notice_content,notice_url
    </sql>

    <insert id="insertNotice" parameterType="com.qexz.model.Notice">
        INSERT INTO t_penguin_notice(notice_type,notice_content,notice_url)
        VALUES (#{notice.noticeType},#{notice.noticeContent},#{notice.noticeUrl})
    </insert>

    <select id="queryBasicNotice" resultMap="BaseResultMap">
         SELECT * FROM
         t_penguin_notice WHERE
         update_time BETWEEN DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') AND DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')
         ORDER BY notice_type asc ,update_time desc LIMIT 0,4
    </select>

    <select id="querySystemNotice" resultMap="BaseResultMap">
         SELECT * FROM
         t_penguin_notice
         WHERE notice_type=0
         ORDER BY update_time desc
    </select>


    <delete id="deleteNotice">
        DELETE FROM t_penguin_notice
        WHERE id=#{id}
    </delete>

</mapper>